body(style="margin:0")
  div(style="width:#{w}px;height:#{h}px;background-color:coral;display:flex;align-items:center;justify-content:center;font-family:monospace;color:rgba(0,0,0,0.6)")
    h1 #{w} x #{h}
